@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.swiper-button-prev,
.swiper-button-next {
	color: #fff !important;
	size: 32px !important;
}

.bg-imagem {
	background-image: url('../public/image/background.webp');
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
}
.bg-maquininha {
	background-image: url('../public/image/maquininha.webp');
	background-size: contain;
	background-repeat: no-repeat;
}
.bg-events {
	background-image: url('../public/image/events.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ghost-button {
	@apply text-[#C02A63] text-base font-semibold border-2 py-6 px-8 rounded-[6px] border-[#C02A63] transition-all duration-300 hover:bg-[#C02A63] hover:text-white;
}

.animateMenu {
	@apply transition-all duration-300 ease-in-out py-2 px-3 rounded-[6px] font-semibold hover:bg-white hover:text-[#c02a63] cursor-pointer;
}

.list-style {
	@apply list-none flex items-center gap-2 font-semibold text-2xl;
}

/* Animations */

.upButton {
	@apply transition-all duration-300 hover:-translate-y-3 hover:shadow-xl cursor-pointer;
}
